*{
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
   
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 80vh;
    background-color:#f0f078;
    border-radius: 10%;
    padding: 30px;
    box-shadow: 5px 5px 9px #eeee47;
}

h1{
    font-size: 40pt;
    color: #32b0d1;
    font-family: 'Lacquer', sans-serif;
}

img{
    height: 300px;
    border-radius: 10px;
}

input{
    border: none;
    width: 300px;
    border-radius: 30px;
    height: 30px;
    margin-bottom: 10px;
    
}

#iniciar{
    border: none;
    width: 100px;
    border-radius: 30px;
    height: 30px;
    background-color: #32b0d1;
    color: white;
    cursor: pointer;
}

#tentar{
    border: none;
    width: 100px;
    border-radius: 30px;
    height: 30px;
    background-color: #32d132;
    color: white;
    cursor: pointer;
}
p{
    font-weight: bolder;
    font-size: 16px;
}